.how_it_work_3{
  margin-top: 150px;
}
.how_it_work_3 button{
  width: 330px;
}

@media screen and (max-width:1200px) {
  .how_it_work_3{
    margin-top: 100px;
  }
  .how_it_work_3 button{
    width: 300px;
  }
}
@media screen and (max-width:700px) {
  .how_it_work_3{
    margin-top: 50px;
  }
  .how_it_work_3 button{
    width: 250px;
  }
}
