html, body{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}
p{
  margin-bottom: 0;
}
button{
  border: none;
  cursor: pointer;
  outline: none;
}
input{
  border: none;
  outline: none;
}
@font-face {
  font-family: "LATO-BLACK";
  src: url("../fonts/LATO-BLACK.TTF");
}
@font-face {
  font-family: "LATO-BOLD";
  src: url("../fonts/LATO-BOLD.TTF");
}
@font-face {
  font-family: "LATO-";
  src: url("../fonts/LATO-BLACK.TTF");
}
@font-face {
  font-family: "LATO-HEAVY";
  src: url("../fonts/LATO-HEAVY.TTF");
}
@font-face {
  font-family: "LATO-LIGHT";
  src: url("../fonts/LATO-LIGHT.TTF");
}
@font-face {
  font-family: "Lato-medium";
  src: url("../fonts/LATO-MEDIUM.TTF");
}
@font-face {
  font-family: "LATO-REGULAR";
  src: url("../fonts/LATO-REGULAR.TTF");
}
@font-face {
  font-family: "LATO-SEMIBOLD";
  src: url("../fonts/LATO-SEMIBOLD.TTF");
}
@font-face {
  font-family: "LATO-THIN";
  src: url("../fonts/LATO-THIN.TTF");
}
header{
  background-color: #000;
}
.bg-light{
  background-color: #000 !important;

}
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}
.navbar{
  width: 87.5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.collapse {
  justify-content: flex-end;
}
.navbar-toggler{
  background-color: #fff;
}

.navbar-collapse li a{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.6px;
  margin-left: 100px;
  font-family: "LATO-SEMIBOLD";
}
.dropdown-menu a{
  margin-left: 0 !important;
}

/*search input */
.input_group_search{
    height: 40px;
}

.input_group_search .search-panel{
      height: 100%;
}

.input_group_search button{
    background: white;
    border: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-right: 1px solid lightgray;
    cursor: pointer;
}

.input_group_search .form-control{
  height: 100%;
  border: 0;
  border-radius: 0;
}

.input_group_search .form-control:focus, .input_group_search button:focus{
  outline: none;
  box-shadow: none;
}

.input_group_search .input-group-btn{
    height: 100%;
    display: flex;
    align-items: center;
}

.home_1{
  width: 100%;
  background-color:#dde1e4;
  padding-top: 35px;
  padding-bottom: 200px;
  position: relative;
  height: 960px;
}
.home_1_size{
  width: 87.5%;
  margin: 0 auto;
}
.home_1_size_top{
  display: flex;
  justify-content: flex-end;
}
.home_1_size_top_left{
  position: relative;
}
.home_1_size_top_left input{
  width: 387px;
  height: 40px;
  background-color: #ffffff;
  text-align: center;
  font-family: "LATO-REGULAR";
  font-size: 20px;
  letter-spacing: 1.6px;
  color: #c2c0c0;
}
.home_1_size_top_left_poss{
  width: 360px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 8px;
  left: 10px;
}
.home_1_size_top_left_poss select{
  border: none;
  border-right: 1px solid #c2c0c0;
  font-size: 20px;
  color: #c2c0c0;
  font-family: "LATO-REGULAR";
  outline: none;
}
.home_1_size_top_right{
  margin-left: 10px;
  display: flex;
  align-items: center;
}
.home_1_size_top_right img{
  margin-left: 30px;
  cursor: pointer;
}
.home_1_size_top_right img:hover{
border: 1px solid
}
.home_1_size_main{
  margin-top: 250px;
}
.home_1_size_main h3{
  font-size: 75px;
  font-weight: 600;
  letter-spacing: 6px;
  font-family: "LATO-SEMIBOLD";
  text-align: right;
  margin-right: 60px;
  margin-bottom: 60px;
}
.home_1_size_main_black{
  width: 100%;
  background-color: #000;
  padding: 45px 0 50px 0;
  color: #fff;
  font-family: "LATO-SEMIBOLD";
}
.home_1_size_main_black p{
  width: 82%;
  text-align: right;
  font-size: 20px;
 font-weight: 600;
 margin-bottom: 35px;
}
.home_1_size_main_black_btn{
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
.home_1_size_main_black_btn button{
  width: 201px;
  height: 40px;
  background-color: #ff7600;
  font-size: 20px;
  font-weight: 600;
  font-family: "LATO-SEMIBOLD";
  color: #fff;
  margin-left: 18px;
}
.home_5{
    position: relative;
}
.slider11{
  position: absolute;
  left: 0;
  top: 0;
  width: 38%;
}
#owl_two img, #owl_one img{
  height: 960px;
}
.home_2{
  width: 100%;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 140px;
}
.home_2_size{
  width: 87.5%;
  margin: 0 auto;
  margin-top: 60px;
}
.home_title{
font-family: "LATO-SEMIBOLD";
font-size: 40px;
font-weight: 600;
letter-spacing: 3.2px;
}
.home_2_line{
  width: 124px;
  margin: 0 auto;
height: 1px;
background-color: #ff7600;
}
/* .owl-carousel .item img {
  width: 352px;
  height: 395px;
} */
.home_3{
  text-align: center;
}
.home_3_size{
  width: 87.5%;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home_3_box{
  width: 264px;
  height: 61px;
  border: solid 1px #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 6px;
}
.home_3_box p{
  font-size: 20px;
  font-weight: 600;
  font-family: "LATO-SEMIBOLD";
}
.home_4{
  width: 100%;
  text-align: center;
  margin-top: 120px;
  font-family: "LATO-SEMIBOLD";
}
.home_4_size{
  width: 87.5%;
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}
.home_4_size_2{
  width: 87.5%;
  margin: 0 auto;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}
.home_4_size_block{
  display: flex;
  width: 50%;

}
.home_4_size_block_left, .home_4_size_block_right{
width: 50%;
display: flex;
flex-direction: column;
justify-content: center;
}
.home_4_size_block_left img, .home_4_size_block_right img{
width: 100%;
height: 100%;
}
.home_4_size_block_title{
  font-size: 24px;
  font-weight: 600;
}
.home_4_size_block_text{
  font-size: 20px;
  font-weight: 600;
  width: 66%;
  margin: 50px auto 30px ;
}
.home_4_size_block_left button, .home_4_size_block_right button{
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  width: 201px;
  height: 40px;
  background-color: #ff7600;
  margin: 0 auto;
  font-family: "LATO-SEMIBOLD";
}
.home_4_size_block_price{
  font-size: 24px;
  font-weight: bold;
  margin-top: 25px;
}
.home_4_bottom {
  margin-top: 100px
}
.home_4_bottom a{
  color: #000;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 600;
  font-family: "LATO-REGULAR" !important;
  cursor: pointer;
}
.home_5{
  width: 100%;
  height: 960px;
   background-color: #FF7600;
   margin-top: 200px;
   position: relative;
   display: flex;
   align-items: center;
}
/* .home_5 img{
  height: 960px;
} */
/* .slider{
  top: 0;
  left: 0;
}
.slider img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition:2s;
  -webkit-transition:2s;
  -moz-transition:2s;
} */
.home_5_size{
  width: 87.5%;
  margin: 0 auto;
}
.home_5_size h3{
  width: 95%;
  font-size: 75px;
  font-weight: 600;
  letter-spacing: 6px;
  text-align: right;
  margin-bottom: 70px;
  font-family: "LATO-SEMIBOLD";
}
.home_5_main{
  width: 100%;
  background-color: #fff;
  padding-top: 35px;
  padding-bottom: 50px;
}
.home_5_main p{
  font-size: 30px;
  font-weight: 600;
  font-family: "LATO-SEMIBOLD";
  width: 85%;
  text-align: right;
  margin-bottom: 40px;
}
.home_5_main_inp{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.home_5_main_inp input{
  width: 316px;
  height: 40px;
  border: solid 2px #cccccc;
  background-color: #ffffff;
  padding-left: 20px;
  font-size: 20px;
  font-weight: 600;
}
.home_5_main_inp button{
  width: 120px;
  height: 40px;
  background-color: #ff7600;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-left: 10px;
  cursor: pointer;
}
.home_8{
  width: 100%;
  text-align: center;
  margin-top: 140px;
  margin-bottom: 100px;
}
.home_8_size{
  width: 87.5%;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}
.home_8_box{
  width: 23%;
  height: 300px;
  background-color: #dde1e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    font-family: "LATO-SEMIBOLD";
}
.home_8_title{
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 2.4px;
  margin-bottom: 35px;
}
.home_8_text{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.6px;
  margin-bottom: 70px;
}
.home_8_numbers{
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 3.2px;
  color: #ff7600;
}
footer{
  width: 100%;
  background-color:#000000;
  padding-top: 40px;
  padding-bottom: 70px;
  color: #fff;
}
.footer_size{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.footer_1 img{

}
.footer_1 p{
  font-size: 18px;
  font-weight: 300;
  font-family: "LATO-REGULAR";
  margin-top: 35px;
}
.footer_1{
  width: 440px;
}
.logo_name{
  font-size: 24px;
  font-weight: 600;
  font-family: "LATO-SEMIBOLD";
  margin-bottom: 60px;
}
.home_contact{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.home_contact img{

}
.home_contact p{
  font-size: 18px;
    font-family: "LATO-REGULAR";
    margin-left: 30px;
}
.footer_2{
  margin-top: 30px;
}
.footer_3 {
text-align: center;
margin-top: 30px;
}
.footer_3 img{
  margin-left: 15px;
}
.page_bottom{
  width: 100%;
  height: 60px;
  background-color:#000000;
  color: #fff;
  font-family: "LATO-REGULAR";
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border-top: 1px solid  #464646;
}
.modal-content{
margin-top: 95px;
}
.modal-dialog {
    max-width: 430px;
}
.modal-header, .modal-footer{
  border: none;
}
.modal-header{
  padding: 8px 13px 0 0;

}
.modal_top_logo{
  text-align: center;
  margin-bottom: 40px;
}
.modal_inputs {
  width: 100%;
  text-align: center;
}
.modal_inputs input{
font-family: "LATO-SEMIBOLD";
font-size: 20px;
font-weight: 600;
color: #cbcaca;
width: 316px;
height: 40px;
border: solid 2px #cccccc;
background-color: #ffffff;
margin-bottom: 17px;
padding-left: 15px;
}
.modal_inputs button{
  font-family: "LATO-SEMIBOLD";
  font-size: 20px;
font-weight: 600;
color: #ffffff;
width: 316px;
height: 40px;
background-color: #ff7600;
margin-top: 30px;
margin-bottom: 40px;
}
.modal_checkbox{
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal_checkbox input{
width: 13px;
height: 13px;
margin: 0;
}
.modal_checkbox p{
  font-size: 16px;
  margin-left: 15px;
  font-family: "LATO-SEMIBOLD";
}
.modal_Already{
   font-size: 16.5px;
     font-family: "LATO-SEMIBOLD";
}
.modal_login_btn{
  background-color: #fff !important;
  color: #000 !important;
  margin: 25px 0;
  border: 1px solid #ff7600;
}
.modal_privacy{
   font-size: 12px;
        font-family: "LATO-SEMIBOLD";
}
