.user_1{
    font-family: "LATO-SEMIBOLD";
    width: 62%;
    margin: 0 auto 30px;
}
.home_1 {
    width: 100%;
    background-color: #fff;
    padding:  40px 0 0 0 ;
    position: relative;
    height: auto;
}
.user_1_top{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user_1_top_2{
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47px;
background-color: #dde1e4;
font-size: 17px;
font-weight: 600;
cursor: pointer;
}
.gift_img{
  width: 80px;
}
.active{
background-color: #ff7600
}
.donations_main{
  width: 100%;
}
/* .user_1_top_2 :hover{
background-color: #ff7600
} */
.user_1_main{
  width: 100%;
display: flex;
justify-content: flex-end;
}
.user_1_main_size{
  max-width: 82%;
}

#user2, #user3, #user4, #user5, #user6, #user7{
 display: none;
}
#user6 .home_4{
  margin-top: 20px;
}
.donations_top{
 width: 100%;
 display: flex;
 justify-content: center;
}
.donations_top p{
 width: 60%;
 font-size: 18px;
}

.settings{
  width: 60%;
  margin: 0 auto;
}
.settings p{
  font-size: 20px;
font-weight: 600;
margin-bottom: 22px;
}
.settings_top_inpts{
  margin-bottom: 30px;
}
.settings_top_inpts input{
  width: 287px;
height: 40px;
border: solid 2px #ebebeb;
background-color: #ffffff;
padding-left: 20px;
margin-right: 20px;
}
.settings_top_img{
  margin-bottom: 30px;
}
.settings_top_img img{
  width: 100px;
}
.settings_bottom_inp{
  width: 100%;
  height: 40px;
  border: solid 2px #ebebeb;
  background-color: #ffffff;
  padding-left: 20px;
  margin-bottom: 25px;
}
.settings_bottom_pass{
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.settings_bottom_pass p{
margin: 0 20px 0 0;
}
.settings select{
  width: 100%;
  height: 40px;
border: solid 2px #ebebeb;
background-color: #ffffff;
margin-bottom: 60px;

}
.settings_bottom_btns{
  text-align: center;
  margin-bottom: 120px;
}
.settings_bottom_btns button{
  width: 30%;
  min-width: 120px;
height: 40px;
background-color: #ff7600;
font-size: 20px;
font-weight: 600;
color: #ffffff;
}
.home_4_bottom{
  margin-bottom: 50px;
}
.campaigns{
  width: 100%;
}
.campaigns_top{
  width: 40%;
  margin: 0 auto;
}
.campaigns_top_1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.campaigns_top_1 select{
  width: 25%;
  height: 61px;
  background-color: #ebebeb;
  font-size: 20px;
  font-weight: 600;
  padding-left: 15px;
}
.campaigns_top_1 input{
  width: 74%;
  height: 61px;
  border: solid 2px #ebebeb;
  background-color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding-left: 20px;
}
.campaigns_top_2 p{
  font-size: 20px;
font-weight: 600;
margin-bottom: 20px;
}
.campaigns_top_2 input, .campaigns_top_2 select{
  width: 100%;
  height: 40px;
  border: solid 2px #ebebeb;
  background-color: #ffffff;
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 20px;
}
.campaigns_top_3{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px 0;
}
.campaigns_top_3_flex{
  display: flex;
  align-items: center;
}
.campaigns_top_3_flex p{
  font-size: 18px;
  margin-left: 10px;
}
.campaigns_top_btn{
  width: 100%;
  text-align: center;
}
.campaigns_top_btn button{
  font-size: 18px;
  width: 216px;
  height: 40px;
  background-color: #ff7600;
  color: #fff;
}
.notifications{
  width: 60%;
  margin: 0 auto;
  padding-top: 20px;
}
.notifications_size{
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 25px;
}
.notifications_left{
  margin-right: 10px;
}
.notifications_right_tittle{
  font-size: 20px;
  font-weight: bold;
}
.notifications_right_text{
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 20px;
}
.notifications_right_flex{
  display: flex;
}
.notifications_right_flex p{
  font-size: 18px;
  color: #a5a4a4;
  margin-left: 15px;
}
.notifications_bottom a{
  color: #000;
  text-decoration: underline;
   font-size: 20px;
   text-align: center;
}
.notifications_bottom {
   text-align: center;
}
.user_gift{
  width: 80%;
  margin: 50px auto 0 auto;
}
.user_gift_top{
  width: 205px;
height: 33px;
border: solid 2px #ff0000;
display: flex;
align-items: center;
justify-content: center;
color: #ff0000;
 font-size: 20.5px;
 margin-bottom: 50px;
}
.user_gift_main{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gift_plyus{
  font-size: 40px;
  font-weight: bold;
}
.user_gift_main_left, .user_gift_main_right{
  width: 48%;
  display: flex;
  align-items: center;
  border: solid 2px #18b255;
    height: 239px;
}
.user_gift_main_left{
  padding: 17px;
  justify-content: space-between;
}
.user_gift_main_right{
  justify-content: space-around;
}
.user_gift_main_right_2 button{
  width: 210px;
  height: 43px;
  background-color: #18b255;
  font-size: 20.5px;
  color: #ffffff;
}
.user_gift_text{
  font-size: 16px;
letter-spacing: 1.3px;
color: #ff0e0e;
  margin: 50px 0;
}
.user_gift_main_left_1, .user_gift_main_left_2{
  width: 49%;
  text-align: justify;
}
.user_gift_main_left_1 img{
  object-fit: cover;
  width: 100%;
}
.user_gift_main_left_2 p{
  font-size: 16px;
}
.user_gift_btns{
  width: 100%;
  text-align: right;
  margin-bottom: 100px;
}
.user_gift_btns button{
  width: 177px;
  height: 41px;
  background-color: #ff7600;
  margin-left: 15px;
  font-size: 20.5px;
color: #ffffff;
}
#cancel_btn{
  background-color: #fff;
  color: #000;
  border:  solid 2px #ff7600;
  margin: 0
}
.list{
  margin-left:10px;
  font-size: .8em;
}
.faq-section p {
  padding-left: 10px;
}
/*Add some spacing*/
.faq-section{
    margin: 40px 0;
        position: relative;
}

/*Hide the paragraphs*/
.faq-section div{
    display: none;
}

/*Hide the checkboxes */
.faq-section input{
    position: absolute;
    z-index: 2;
    cursor: pointer;
    opacity: 0;
    display: none; /* IE8 and below */
    margin: 0;
    width: 100%;
    height: 36px;
}

/*Show only the clipped intro*/
.faq-section label{
    display: block;
    color: #333;
    font-size: .85em;
    transition: all .15s ease-out;
    /* Clipping text */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/*If the checkbox is checked, show all paragraphs*/
.faq-section input[type=checkbox]:checked~div{
    display: block;
    color: #444;
    font-size: 1em;
    /* restore clipping defaults */
    text-overflow: clip;
    white-space: normal;
    overflow: visible;
}

/*Style the label*/
.faq-section label{
    font-size: 1.2em;
    background: #eee;
    display: block!important;
    position: relative;
        height: 36px;
    padding: 7px 10px;
    font-weight: bold;
    border: 1px solid #ddd;
    border-left: 3px solid #888;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    transition: all .15s ease-out;
}

/*Remove text selection when toggle-ing*/
.faq-section label::selection{
    background: none;
}

.faq-section label:hover{
    background: #f5f5f5;
}


/*If the checkbox is checked, style the label accordingly*/
.faq-section input[type=checkbox]:checked~label{
    border-color: #184ac7;
    background: #e1e9f7;
    background-image: linear-gradient(to bottom, #fff, #e1e9f7);
    box-shadow: 0 0 1px rgba(0,0,0,.4);
}

/*Label's arrow - default state */
.faq-section label::before{
    content: '';
    position: absolute;
    right: 4px;
    top: 50%;
    margin-top: -6px;
    border: 6px solid transparent;
    border-left-color: inherit;
}

/*Update the right arrow*/
.faq-section input[type=checkbox]:checked~label::before{
    border: 6px solid transparent;
    border-top-color: inherit;
    margin-top: -3px;
    right: 10px;
}
@media screen and (max-width: 1700px) {
  .user_1{
      width: 80%;
  }
  .home_1 {
      padding:  40px 0 0 0 ;
  }
  .user_1_top_2{
    width: 20%;
    height: 47px;
  font-size: 18px;
  }
  .gift_img{
    width: 80px;
  }
  .user_1_main_size{
    max-width: 82%;
  }
}
@media screen and (max-width: 1500px) {
  .notifications{
    width: 70%;
    padding-top: 20px;
  }
  .notifications_size{
    padding-bottom: 20px;
    margin-bottom: 25px;
  }
  .notifications_right_tittle{
    font-size: 20px;
  }
  .notifications_right_text{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .notifications_right_flex p{
    font-size: 18px;
    margin-left: 15px;
  }
  .notifications_bottom a{
     font-size: 20px;
  }
  .settings{
    width: 70%;
    margin: 20px auto 0 auto;
  }
   .gift_img{
      width: 80px;
    }
  .settings p{
    font-size: 19px;
  margin-bottom: 18px;
  }
  .settings_top_inpts{
    margin-bottom: 20px;
  }
  .settings_top_inpts input{
    width: 200px;
  height: 40px;
  padding-left: 20px;
  margin-right: 20px;
  }
  .settings_top_img{
    margin-bottom: 20px;
  }
  .settings_top_img img{
    width: 100px;
  }
  .settings_bottom_inp{
    height: 40px;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .settings_bottom_pass{
    margin-bottom: 40px;
  }
  .settings_bottom_pass p{
  margin: 0 20px 0 0;
  }
  .settings select{
    width: 100%;
    height: 40px;
  margin-bottom: 40px;

  }
  .settings_bottom_btns{
    margin-bottom: 60px;
  }
  .settings_bottom_btns button{
    width: 30%;
    min-width: 140px;
  height: 40px;
  font-size: 18px;
  }
  .donations_top p{
   width: 70%;
   font-size: 18px;
  }
}
@media screen and (max-width: 1350px){
  .user_1{
      width: 90%;
  }
}
@media screen and (max-width: 1300px) {
  .donations_top p{
   width: 80%;
   font-size: 18px;
  }
  .user_1{
      width: 95%;
  }
  .home_1 {
      padding:  40px 0 0 0 ;
  }
  .user_1_top_1 img{
    width: 150px;
  }
  .user_1_top_2{
    width: 20%;
    height: 47px;
  font-size: 18px;
  }
  .gift_img{
    width: 80px;
  }
  .user_1_main_size{
    max-width: 82%;
  }
  .campaigns_top{
    width: 60%;
  }
  .campaigns_top_1{
    margin-bottom: 30px;
  }
  .campaigns_top_1 select{
    width: 25%;
    height: 40px;
    font-size: 18px;
    padding-left: 15px;
  }
  .campaigns_top_1 input{
    width: 74%;
    height: 40px;
    font-size: 18px;
    padding-left: 20px;
  }
  .campaigns_top_2 p{
    font-size: 19px;
  margin-bottom: 20px;
  }
  .campaigns_top_2 input, .campaigns_top_2 select{
    height: 40px;
      font-size: 17px;
      margin-bottom: 10px;
      padding-left: 20px;
  }
  .campaigns_top_3{
    margin: 30px 0;
  }
  .campaigns_top_3_flex p{
    font-size: 17px;
    margin-left: 10px;
  }
  .campaigns_top_btn{
    width: 100%;
  }
  .campaigns_top_btn button{
    font-size: 18px;
    width: 180px;
    height: 40px;
  }
}
@media screen and (max-width: 1100px) {
  .user_gift{
    width: 100%;
    margin: 40px auto 0 auto;
  }
  .user_gift_top{
    width: 180px;
  height: 30px;
   font-size: 17px;
   margin-bottom: 40px;
  }
  .gift_plyus{
    font-size: 40px;
  }
  .user_gift_main_left, .user_gift_main_right{
    width: 48%;
      height: 230px;
  }
  .user_gift_main_left{
    padding: 10px;
  }
  .user_gift_main_right_2 button{
    width: 150px;
    height: 35px;
    font-size: 18px;
  }
  .user_gift_text{
    font-size: 15px;
    margin: 30px 0;
  }
  .user_gift_main_left_2 p{
    font-size: 15px;
  }
  .user_gift_btns{
    margin-bottom: 50px;
  }
  .user_gift_btns button{
    width: 150px;
    height: 35px;
    margin-left: 10px;
    font-size: 18px;
  }
  .notifications{
    width: 100%;
    padding-top: 40px;
  }
  .notifications_size{
    padding-bottom: 15px;
    margin-bottom: 20px;
    justify-content: center;
  }
  .notifications_right_tittle{
    font-size: 18px;
  }
  .notifications_right_text{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .notifications_right_flex p{
    font-size: 16px;
    margin-left: 10px;
  }
  .notifications_right_flex img{
   width: 20px;
  }
  .notifications_bottom a{
     font-size: 18px;
  }
  .settings{
    width: 100%;
    margin: 20px auto 0 auto;
    text-align: center;
  }
  .settings p{
    font-size: 19px;
  margin-bottom: 18px;
  }
  .settings_top_inpts{
    margin-bottom: 20px;
  }
  .settings_top_inpts input{
    width: 200px;
  height: 40px;
  padding-left: 20px;
  margin-right: 20px;
  }
  .settings_top_img{
    margin-bottom: 20px;
  }
  .settings_top_img img{
    width: 100px;
  }
  .settings_bottom_inp{
    height: 40px;
    padding-left: 20px;
    margin-bottom: 20px;
  }
  .settings_bottom_pass{
    margin-bottom: 40px;
  }
  .settings_bottom_pass p{
  margin: 0 20px 0 0;
  }
  .settings select{
    width: 100%;
    height: 40px;
  margin-bottom: 40px;

  }
  .settings_bottom_btns{
    margin-bottom: 60px;
  }
  .settings_bottom_btns button{
    width: 30%;
    min-width: 140px;
  height: 40px;
  font-size: 18px;
  }


  .donations_top p{
   width: 90%;
   font-size: 18px;
  }
  .user_1{
      width: 85%;
  }
  .user_1_top{
    flex-direction: column;
  }
  .home_1 {
      padding:  40px 0 0 0 ;
  }
  .user_1_top_1 img{
    width: 150px;
  }
  .user_1_top_2{
    width: 30%;
    min-width: 220px;
    height: 40px;
  font-size: 18px;
  margin-top: 15px;
  }
  .user_1_main_size{
    max-width: 100%;
  }
}
@media screen and (max-width: 800px){
  .user_gift{
    width: 100%;
    margin: 40px auto 0 auto;
  }
  .user_gift_top{
    width: 180px;
  height: 30px;
   font-size: 17px;
   margin: 30px auto 20px auto;
  }
  .gift_plyus{
    font-size: 40px;
  }
  .user_gift_main_left, .user_gift_main_right{
    width: 100%;
      height: auto;
  }
  .user_gift_main_left_1{
    width: 34%;
  }
  .user_gift_main_left_2{
    width: 64%;
  }
  .user_gift_main{
    flex-direction: column;
  }
  .user_gift_main_left, .user_gift_main_right_1{
    padding: 10px;
  }
  .user_gift_main_right_1 img{
    width: 100px;
  }
  .user_gift_main_right_2 button{
    width: 150px;
    height: 35px;
    font-size: 18px;
  }
  .user_gift_text{
    font-size: 14px;
    margin: 20px 0;
  }
  .user_gift_main_left_2 p{
    font-size: 14px;
  }
  .user_gift_btns{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .user_gift_btns button{
    width: 150px;
    height: 35px;
    margin-left: 0px;
    font-size: 18px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 700px) {
  .user_1{
      width: 95%;
  }
  .user_1_top{
    flex-direction: column;
  }
  .home_1 {
      padding:  40px 0 0 0 ;
  }
  .user_1_top_1 img{
    width: 150px;
  }
  .user_1_top_2{
    width: 30%;
    min-width: 220px;
    height: 40px;
  font-size: 18px;
  margin-top: 15px;
  }
  .user_1_main_size{
    max-width: 100%;
  }
  .user_1_main{
    justify-content: center;
  }
  .campaigns_top{
    width: 90%;
  }
  .campaigns_top_1{
    margin-bottom: 30px;
  }
  .campaigns_top_1 select{
    width: 25%;
    height: 35px;
    font-size: 15px;
    padding-left: 3px;
  }
  .campaigns_top_1 input{
    width: 74%;
    height: 35px;
    font-size: 16px;
    padding-left: 20px;
  }
  .campaigns_top_2 p{
    font-size: 19px;
  margin-bottom: 20px;
  }
  .campaigns_top_2 input, .campaigns_top_2 select{
    height: 40px;
      font-size: 17px;
      margin-bottom: 10px;
      padding-left: 20px;
  }
  .campaigns_top_3{
    margin: 30px 0;
  }
  .campaigns_top_3_flex p{
    font-size: 17px;
    margin-left: 10px;
  }
  .campaigns_top_btn{
    width: 100%;
  }
  .campaigns_top_btn button{
    font-size: 18px;
    width: 180px;
    height: 40px;
  }
}
@media screen and (max-width: 470px){
  .settings_top_inpts input{
  margin: 10px 0;
  }
}
